<footer class="footer d-flex flex-column" style="height: 120px" id="p1">
    <div class="container ">
      <div class="row">  
          
              <div class="copyright" style="color:white" > 
                <img src="/assets/images/footerlogo.png" class="card-img ustify-content-center " alt="..." style="height: 120px"> 
                </div>
                
          <p id="p2" ><img class="icon" alt="#" src="/assets/images/email.png">  <a> sj.shaynyuk@gmail.com </a></p>
                      <p id="p2" > <a ><img class="icon" alt="" src="/assets/images/skype3.png"></a> Sh.Sergiy</p>
                      <p id="p2">
                        <a ><img class="icon" alt="" src="/assets/images/phone.png" ></a>+3 8(063) 443-83-18</p>  
                  
      </div>      
    </div>
</footer>