
										<hr>
						<h4 class="text-warning">Experience</h4>
										<div *ngFor="let item of experience; let i=index" class="alert alert-secondary" role="alert">
									 		<li class="list-group-item d-flex justify-content-between align-items-center">{{item.work}}<small class="text-muted"><b>{{item.speciality}}</b></small> <span class="badge badge-secondary badge-pill">{{item.year}}<br></span>
											</li>
										</div>
										
										<!--<div class="alert alert-secondary" role="alert">			 	
											<li class="list-group-item d-flex justify-content-between align-items-center">PrAT "LvivOrgres"<small class="text-muted"><b>Engineer for Safe Maintenance of Power Equipment</b></small> <span class="badge badge-secondary badge-pill">2008-2016</span>
										</li>
										</div>
										<div class="alert alert-secondary" role="alert">
											<li class="list-group-item d-flex justify-content-between align-items-center"> Publishing House "World of Physics"<small class="text-muted"><b>Text layout and editing</b></small> <span class="badge badge-secondary badge-pill">2006-2008</span></li>
										</div>-->
										
									<!--end add inf-->
