
span {
	margin-top: 5px;
	margin-bottom: 5px;
}
.educate{
	display: inline-block;
	background: #ADD8E6; /*#C0C0C0, #00316b;*/
	box-shadow : 0px 0px 30px grey;
}

/*div .alert .alert-secondary {
	margin: 10px;
}*/
.text-muted{
	margin-left: 5px;
	padding-left: 0px;
	margin-right: 5px;
}

@media only screen and (max-width: 576px) { 
	.card{
		width:126px;
		height:240px;
		}
 }

@media (min-width: 768px) { 
		
	}

@media (min-width: 992px) { 
	
	}

@media (min-width: 1200px) { 
 }
