<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top navbar-dark " role="navigation"> 
			<div class="container">
	  			<div class="navbar-brand ml-3" href="#">&nbsp;</div>
	  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	 				</button>
	  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
		    		<div class="navbar-nav mr-1" >
			      			<a class="nav-item nav-link active" href="#">About Me <span class="sr-only">(current)</span></a>
			      			<a class="nav-item nav-link" href="/assets/images/cv.pdf" download >MyResume</a>
						<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Portfolio
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"><!--to be add ngRoute-->
    <a class="dropdown-item" href="#">Project 1</a>
    <a class="dropdown-item" href="#">Project 2</a>
    <a class="dropdown-item" href="#">& Something else to be continued</a>
  </div>
</div>
		     				<a class="nav-item nav-link " href="#p1">Contact</a>
				    </div>
			  	</div>
			</div>
		</nav>
