body{
	margin:0px;
	padding: 0px;
	background-color: lightgrey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif", Times New Romans;
}
.navbar{
	margin: 0px ;
	background: #00316b;
	box-shadow : 0px 5px 5px grey;
}

#navbarNavAltMarkup .navbar-nav{
	align: center;
}
sub{
	text-transform:uppercase
}
.navbar-collapse{
	justify-content: flex-end;	
}
.icon{
	height: 20px;
	width: 20px;
	background: transparent;
}
#p2{
	margin:50px 15px; 
	color: white;
}

