								
								<h5><b>SKILLs</b></h5>
								<hr>
								<h5 class="text-warning">Software</h5>
			<div class="softcard" *ngFor="let skill of skills; let i=index">
								<span><p>{{i+1}}. {{skill.direction}}</p></span> 
				<div class="progress">
			        <div class="progress-bar progress-bar-striped progress-bar-animated  active" [ngClass]="skill.background" role="progressbar"  attr.aria-valuenow="{{skill.ariaValuenow}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:skill.style}">{{skill.level}}
			            <span class="sr-only">  </span>
			            <p *ngIf="link"><a id="L1" href="https://ng7test.herokuapp.com/" target="_blank" rel="nofollow noopener">ng7example</a></p><!--можна використати ! щоб не змінювати саму змінну, або (;) else + інша змінна notAngular, і можна ще додати <ng-template #notAngular>this is ngExample</ng-template>-->
			        </div>
			    </div>	
			</div>
