<!--The content below is only a placeholder and can be replaced.-->

<app-menu></app-menu>

<main class="Home mt-4 bg-light">
    <div class="container">
<!--end d-flex--><div class="d-flex flex-wrap">
     <!--contacts--><div class="col-lg-9 col-md-12 col-sm-12">
                            <div class="row">
                                <app-about-ms></app-about-ms>
                                <app-education></app-education>
                                <div class="col-12 educate" style=" font-family: Times New Roman; font-size: 18px;">
                                <app-experience></app-experience>  
                                </div>  
          <!--end d-flex--></div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 mb-4" style="font-family: Times New Roman; ">
                    <app-skills  ></app-skills>
                  </div>
                </div>
    </div>
</main>
 <app-footer></app-footer>


<router-outlet></router-outlet>
