<!--start part contacts <div class="row">-->
							
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-4 info " >
										<div class="card " >
											  <img src="assets/images/My Photo.jpg" class="img-fluid " alt="Responsive image" > 
										</div>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7 col-xs-8 info" > 
										<h4><b>Serhiy Shainyuk</b></h4>
											<h6><b>Front-End Developer</b></h6><br>
											<p style="margin-bottom:6px; color:red"><img class="icon" alt="" src="/assets/images/email.png">  <a> sj.shaynyuk@gmail.com </a></p><!--<i class="fa">&#xf003;</i> don't work-->
											<p style="margin-bottom:6px;"> <a ><img class="icon" alt="" src="/assets/images/skype3.png"></a> Sh.Sergiy</p>
											<p style="margin-bottom:6px;">
												<a ><img class="icon" alt="" src="/assets/images/phone.png"></a>    +3 8(063) 443-83-18</p>
											<p style="margin-bottom:6px;"><a><img class="icon" alt="" src="/assets/images/Git-Icon-Black.png"></a> <a href="https://github.com/SergiGan/simplearithmetic.git" target="_blank" rel="nofollow noopener">SergiGan/HubFrEnd</a></p>
											<p style="margin-bottom:6px;"><i class="fas fa-map-marker-alt"><a><img class="icon" alt="" src="/assets/images/canvas.png"></a></i>  Lviv, Ukraine</p>
										
										<span ><p style="font-size: 16px;">   First of all, <q>experience is, a collection of everything that happens to a person in her life and that she is conscious; people can have experience about themselves, their abilities, their virtues and vices, and people can also have experience and ideas, ideas and knowledge.</q> So I'm open to people if they are ready for it, to knowledge, experience and everything new that makes the world a better one. <br>I strive for excellence, critical thinking, versatility in their interests. I am interested in the latest technologies, in particular in the field of information technology, as well as software optimization and participation in its development. Мotivation by the challenge and non-standard tasks. Why in IT, is because modern life can not be imagined without the latest technology and self-improvement.</p></span>
									</div>
									<!--end part contacts   The challenge for me is the challenge in non-standard tasks.-->
							
