							
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-4 info " >
										<div class="card " >
											  <img src="assets/images/MyPhoto.jpg" class="img-fluid " alt="Responsive image" > 
										</div>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7 col-xs-8 info" > 
										<h4><b>{{ms.person}}</b></h4>
											<h6><b>Front-End Developer</b></h6><br>
											<p style="margin-bottom:6px; color:red"><img class="icon" alt="" src="/assets/images/email.png">  <a> {{ms.mail}} </a></p><!--<i class="fa">&#xf003;</i> don't work-->
											<p style="margin-bottom:6px;"> <a ><img class="icon" alt="" src="/assets/images/skype3.png"></a> {{ms.skype}}</p>
											<p style="margin-bottom:6px;">
												<a ><img class="icon" alt="" src="/assets/images/phone.png"></a>{{ms.phone}}</p>
											<p style="margin-bottom:6px;"><a><img class="icon" alt="" src="/assets/images/Git-Icon-Black.png"></a> <a href="https://github.com/SergiGan/simplearithmetic.git" target="_blank" rel="nofollow noopener">{{ms.link}}</a></p>
											<p style="margin-bottom:6px;"><i class="fas fa-map-marker-alt"><a><img class="icon" alt="" src="/assets/images/canvas.png"></a></i>  {{ms.adress}}</p>
										
										<span ><p style="font-size: 16px;">{{ms.about}}</p></span>
									</div>
									<!--end part contacts   The challenge for me is the challenge in non-standard tasks.-->
							
